# Dependencies
node_modules

# Build output
dist
coverage

# Lock files
yarn.lock
package-lock.json
pnpm-lock.yaml

# Git internals
.git
.husky

# Environment & secrets
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temp files
.tmp
.temp

# Templates
templates
